:root {
  --primary-color: #add2c9;
  --text-color: #155263;
  --accent-color: #50c4ed;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 55px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: var(--text-color);
}

h3 {
  font-size: 30px;
  font-family: "poppins", sans-serif;
  font-weight: bold;
  color: var(--text-color);
}

h2 {
  font-size: 24px;
  font-family: "Times New Roman", Times, serif;
  color: var(--text-color);
  opacity: 80%;
  font-weight: bold;
}

p {
  padding: 30px;
  font-size: 18px;
  line-height: 1.5;
  font-family: "poppins", sans-serif;
  color: var(--text-color);
}

body {
  margin: 10px;
}

.hero {
  text-align: center;
  background-color: #f6f5f5;
  margin: 10px;
  padding: 50px;
}

.project-photo {
  max-width: 100%;
  height: auto;
  border: 2px solid #add2c9;
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  margin-bottom: 40px;
}

.contact-link {
  color: white;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  font-weight: bold;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
}

.button-link {
  color: white;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  font-weight: bold;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  margin: 30px;
}

.button-link:hover,
.contact-link:hover {
  color: var(--text-color);
}

.headshot {
  max-width: 100%;
  height: auto;
  border: 2px solid #add2c9;
  border-radius: 7px;
  box-shadow: var(--box-shadow);
}

@media (max-width: 576px) {
  h1 {
    font-size: 45px;
  }
}
